body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

div.cover {
  text-align: center;
  page-break-after: always;
  padding: 0;
  margin: 0;
  width: 100%;
}
.cover-img {
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

a, a:hover, a:link, a:active, a:visited {
  color: #158ed3;
}
a.unstyled {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  -moz-hyphens: none !important;
  -webkit-hyphens: none !important;
  adobe-hyphenate: none !important;
  hyphens: none !important;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: 0;
  margin-top: 1em;
  margin-bottom: 0;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  hyphenate-after: 3;
  hyphenate-before: 3;
  hyphenate-lines: 2;
  margin: 1em 0 0 0;
  text-indent: 0;
  orphans: 2;
  widows: 2;
}
p.indent {
  text-indent: 1.5em;
  margin-top: 0;
}

ul, ol {
  margin: 1em 0 0 0;
  padding: 0 0 0 2em;
}

li {
  orphans: 2;
  widows: 2;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
li p {
  text-indent: 0;
}

blockquote {
  margin: 1em 1.5em 0 1.5em;
  /* right margin doesn't work on DX */
}

.table-wrapper {
  text-align: center;
  margin-top: 1em;
}
table {
  border-collapse: collapse;
  border-width: 1px;
  border-color: #444444;  /* #444444 works on nightmode */
  border-style: solid;
  border-spacing: 0;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  font-size: 0.85em;
  page-break-inside: avoid;
}
td {
  border-width: 1px;
  border-color: #444444;
  border-style: solid;
  padding: 5px;
  text-align: left;
  text-indent: 0;
  vertical-align: baseline;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  page-break-inside: avoid;
}
th {
  text-align: center;
  vertical-align: baseline;
  padding: 5px;

  /* Optional coloring */
  background: #444444;
  color: #dddddd;
}
table.no-border,
table.no-border td,
table.no-border th {
  border: 0;
}

sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}






/**
 * TEMPLATE DEFAULT
 */
.book-title {
  text-align: center;
  font-size: 3.5em;
  line-height: 1.3;
  margin-top: 2em;
}
.book-subtitle {
  text-align: center;
  font-size: 2em;
  line-height: 1.3;
}
.book-author {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.3;
  margin-top: 10em;
  font-family: Helvetica, Arial, sans-serif;
}
.chapter-title {
  text-align: center;
  font-size: 2.5em;
  line-height: 1.3;
  margin-top: 2em;
  margin-bottom: 0;
}
.chapter-subtitle {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.3;
  margin-top: 0.5em;
  margin-bottom: 0;
}
p.first {
  margin-top: 3em;
}
.copyright {
  margin-top: 5em;
  text-align: center;
}
p.copy-text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.3;
  margin-top: 1em;
  text-align: center;
  text-indent: 0;
}
.html-toc {
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
}
.html-toc a {
  border: 0;
}
.html-toc ol,
.html-toc li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.html-toc ol ol {
  margin-left: 1em;
}



/**
 * UTILS
 */
.group {
  page-break-inside: avoid;
}

.page-break-before {
  page-break-before: always;
}

.page-break-after {
  page-break-after: always;
}





/*
@media amzn-kf8 {}

@media amzn-mobi {
  img {
    width: 100%;
  }
}
*/
